.project-10i #select-temp-drop-pending{
    position: absolute;
    background: #fff;
    z-index: 9;
    width: 225px;
    height: auto;
    border-radius: 3px;
}

.project-10i .w195{
    width: 195px;
} 


 